@page
@model MyApp.Areas.Admin.Pages.ForgotPasswordModel
@{
	Layout = "Layouts/_BlankLayout";
	ViewData["Title"] = await T.GetAsync("ForgotPassword");
}

@section VendorStyles {
	<link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/form-validation.dist.css" />
	<link rel="stylesheet" href="~/vendor/libs/sweetalert2/sweetalert2.dist.css" />
}

@section VendorScripts {
	<script src="~/vendor/libs/&#64;form-validation/popular.dist.js"></script>
	<script src="~/vendor/libs/&#64;form-validation/bootstrap5.dist.js"></script>
	<script src="~/vendor/libs/&#64;form-validation/auto-focus.dist.js"></script>
	<script src="~/vendor/libs/sweetalert2/sweetalert2.dist.js"></script>
}

@section PageStyles {
	<link rel="stylesheet" href="~/vendor/css/pages/page-auth.dist.css">
}

@section PageScripts {
	<script src="~/js/pages-auth.dist.js"></script>
}

<div class="position-relative">
	<div class="authentication-wrapper authentication-basic container-p-y p-4 p-sm-0">
		<div class="authentication-inner py-6">

			<div class="card p-md-7 p-1">
				<!-- Logo -->
				<div class="app-brand justify-content-center mt-5">
					<a href="/" class="app-brand-link gap-2">
						<span class="app-brand-logo demo"><img src="~/img/LogoLogin.png" width="300px" /></span>
					</a>
				</div>
				<!-- /Logo -->

				<div class="card-body mt-1">
					<h4 class="mb-1">@await T.GetAsync("ForgotPassword") 🔒</h4>
					<p class="mb-5">@await T.GetAsync("EnterUsernameSendEmail")</p>

					<form id="formForgotPassword" class="mb-5" method="post">
						<div class="form-floating form-floating-outline mb-5">
							<input type="text" class="form-control" id="txtUsername" name="txtUsername" value="@Model.DefaultUsername" placeholder="@await T.GetAsync("EnterYourUsername")" autofocus>
							<label for="txtUsername">@await T.GetAsync("Username")</label>
						</div>
						<button class="btn btn-primary d-grid w-100" type="submit">@await T.GetAsync("SendEmail")</button>
					</form>

					<div class="text-center">
						<a asp-area="Admin" asp-page="/Login" class="d-flex align-items-center justify-content-center">
							<i class="ri-arrow-left-s-line scaleX-n1-rtl ri-20px me-1_5"></i>
							@await T.GetAsync("BacktoLogin")
						</a>
					</div>
				</div>
			</div>

			<img alt="mask" src="~/img/illustrations/auth-basic-forgot-password-mask-light.png" class="authentication-image d-none d-lg-block"
				data-app-light-img="illustrations/auth-basic-forgot-password-mask-light.png"
				data-app-dark-img="illustrations/auth-basic-forgot-password-mask-dark.png" />
		</div>
	</div>
</div>

<script>
	var msgEnterUsername = '@await T.GetAsync("EnterYourUsername")';
	var msgError = '@MessageTitle.Error';

	document.getElementById('formForgotPassword').addEventListener('submit', function (e) {
		if (document.getElementById('txtUsername').value.trim() === '') {
			e.preventDefault();
			Swal.fire({ icon: 'error', title: msgError, text: msgEnterUsername });
		}
	});

	document.addEventListener("DOMContentLoaded", function () {
		var messageType = '@Model.AlertMessageType';

		if (messageType !== '') {
			Swal.fire({
				icon: messageType,
				title: @Html.Raw(Json.Serialize(Model.AlertMessageTitle)),
				text: @Html.Raw(Json.Serialize(Model.AlertMessageContent))
			});
		}
	});
</script>
